

#modal-showHistory_Modal-container {
  position: fixed;
  display: grid;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 4;
}
#modal-showHistory_Modal-container.clear-todo {
  transform: scale(1);
}
#modal-showHistory_Modal-container.clear-todo .modal-showHistory_Modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container.clear-todo .modal-showHistory_Modal-background .modal-showHistory_Modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container.clear-todo + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container.clear-todo.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-showHistory_Modal-container.clear-todo.out .modal-showHistory_Modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container.clear-todo.out .modal-showHistory_Modal-background .modal-showHistory_Modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container.clear-todo.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal-showHistory_Modal {
  width: 800px;
  max-height: 550px;
  overflow: auto;
  position: absolute;
  top: 40px;
  margin-bottom: 8px;
  z-index: 5;
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background .modal-showHistory_Modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  /* position: relative; */
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background .modal-showHistory_Modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background .modal-showHistory_Modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background .modal-showHistory_Modal .modal-showHistory_Modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-showHistory_Modal-container .modal-showHistory_Modal-background .modal-showHistory_Modal .modal-showHistory_Modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

/* Media Styles */
@media screen and (max-width: 992px) {
  .modal-showHistory_Modal { width: 600px; }
}
@media screen and (max-width: 768px) {
  .modal-showHistory_Modal { width: 400px; }
  .ui.button, .ui.buttons .button, .ui.buttons .or { font-size: 0.8rem; }
}
@media screen and (max-width: 576px) {
  .modal-showHistory_Modal { width: 300px; }
}


/* Keyframes */

@keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
}
@keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
@keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
}
@keyframes scaleBack {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
}
@keyframes scaleForward {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}